@use "../../styles/_variables" as *;

.candleInfo-container {
  display: flex;
  padding: 1rem;
  .image-container {
    &__candle {
      height: 50rem;
      width: 50rem;
    }
  }
  .information-container {
    margin-top: 1.5rem;
    width: 100%;
    .link-container {
      margin: 0 4rem 0 4rem;
      padding: 0 0 1rem 1rem;

      &__back {
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $font-text;
        letter-spacing: 0.1rem;
        padding-right: 1rem;
      }
      .link-container__back:hover,
      .link-container__bag:hover {
        color: #6d435a;
      }
      &__bag {
        border: none;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $font-text;
        letter-spacing: 0.1rem;
        padding-left: 1rem;
        border-left: 0.1rem solid black;
      }
    }
    .productMain {
      margin: 1rem 4rem 2rem 4rem;
      padding: 0 0 1rem 1rem;
      border-bottom: 0.1rem solid black;
      &__name {
        font-size: 2rem;
        font-family: $font-text;
        letter-spacing: 0.2rem;
        padding-bottom: 2.5rem;
      }
      &__price {
        font-size: 1.7rem;
        font-weight: 400;
        font-family: $font-text;
        letter-spacing: 0.1rem;
        padding-bottom: 1.5rem;
      }
    }

    .productDesc,
    .productMisc {
      margin: 0 4rem 1.5rem 4rem;
      padding: 0 0 2rem 1rem;
      border-bottom: 0.1rem solid black;
      span {
        font-family: $font-text;
        font-size: 1.5rem;
        font-weight: 500;
      }
      p {
        font-family: $font-text;
        font-size: 1.5rem;
        font-weight: 200;
        margin-top: 1rem;
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  .candleInfo-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .image-container {
      display: flex;
      justify-content: center;
      &__candle {
        height: 20rem;
        width: 20rem;
      }
    }
    .information-container {
      margin-top: 1.5rem;
      width: 100%;
      .link-container {
        margin: 0 4rem 0 4rem;
        padding: 0 0 1rem 1rem;

        &__back {
          color: black;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 500;
          font-family: $font-text;
          letter-spacing: 0.1rem;
          padding-right: 1rem;
        }
        .link-container__back:hover,
        .link-container__bag:hover {
          color: #6d435a;
        }
        &__bag {
          border: none;
          font-size: 1.5rem;
          font-weight: 500;
          font-family: $font-text;
          letter-spacing: 0.1rem;
          padding-left: 1rem;
          border-left: 0.1rem solid black;
        }
      }
      .productMain {
        margin: 1rem 4rem 2rem 4rem;
        padding: 0 0 1rem 1rem;
        border-bottom: 0.1rem solid black;
        &__name {
          font-size: 2rem;
          font-family: $font-text;
          letter-spacing: 0.2rem;
          padding-bottom: 2.5rem;
        }
        &__price {
          font-size: 1.7rem;
          font-weight: 400;
          font-family: $font-text;
          letter-spacing: 0.1rem;
          padding-bottom: 1.5rem;
        }
      }

      .productDesc,
      .productMisc {
        margin: 0 4rem 1.5rem 4rem;
        padding: 0 0 2rem 1rem;
        border-bottom: 0.1rem solid black;
        span {
          font-family: $font-text;
          font-size: 1.5rem;
          font-weight: 500;
        }
        p {
          display: flex;
          justify-content: space-between;
          font-family: $font-text;
          font-size: 1.5rem;
          font-weight: 200;
          margin-top: 1rem;
        }
      }
    }
  }
}
