@use "../../styles/_variables" as *;

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30rem;
  &__image {
  }
  &__image:hover {
    text-decoration: none;
    background-color: none;
  }
  &__candle {
    height: 25rem;
    width: 25rem;
    align-self: center;
    object-fit: cover;
  }
  &__info {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    &--name,
    &--price {
      font-size: 1.5rem;
      font-family: $font-text;
      letter-spacing: 0.1rem;
      color: #031927;
      opacity: 0.9;
    }
  }
  &__bag {
    width: 5rem;
    align-self: center;
  }
}
