@use "../../styles/_variables" as *;

.term-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 10rem 0 10rem;
  .term {
    margin: 2rem;
    .term-title {
      font-family: $font-main;
    }
    .term-body {
      font-family: $font-text;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      margin-top: 0.2rem;
    }
  }
}
