@use "../../styles/_variables" as *;

.profile {
  display: flex;
  justify-content: center;
  height: 25rem;
  padding: 5rem;
  &__img {
    height: 25rem;
    border-radius: 5rem;
    margin-right: 2rem;
  }
  &__desc {
    width: 50rem;
    align-self: center;
    font-size: 1.7rem;
    font-family: $font-text;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    padding: 4rem;
  }
}

.work {
  display: flex;
  align-items: center;
  background-color: $secondary_colour;
  height: 40rem;
  margin: 5rem 0 5rem 0;
  padding-bottom: 3rem;
  .work-img {
    background-color: $secondary_colour;
    margin-left: 10rem;
    &__img {
      height: 30rem;
      width: 30rem;
      border-radius: 5rem;
    }
    &__img2 {
      margin-top: 15rem;
      object-fit: fill;
      border-radius: 20rem;
      height: 20rem;
      width: 20rem;
      position: absolute;
      left: 30rem;
      // top: 70rem;
    }
  }
  .work-info {
    margin-top: 15rem;
    background-color: transparent;
    color: $tertiary_colour;
    font-size: 1.7rem;
    right: 6rem;
    position: absolute;
    text-align: right;
    .shop-link:hover {
      color: $primary-colour;
    }

    .shop-link {
      background-color: $secondary_colour;
      text-decoration: none;
      color: $tertiary_colour;
    }
  }
}

.logo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem 0 7rem 0rem;

  .byHaowl-logo {
    height: 10rem;
  }

  .byHaowl-title {
    font-family: $font-main;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0.5rem 0 0 0;
  }
}
