@use "../../styles/_variables" as *;

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-colour;
  height: 7rem;
  .termsAndConditions {
    background-color: transparent;
    font-size: 1.7rem;
    font-family: $font-main;
    text-decoration: none;
    color: $tertiary_colour;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-colour;
    height: 4rem;
    .termsAndConditions {
      background-color: transparent;
      font-size: 1rem;
      font-family: $font-main;
      text-decoration: none;
      color: $tertiary_colour;
    }
  }
}
@media screen and (min-width: 850px) and (max-width: 1299px) {
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-colour;
    height: 5rem;
    .termsAndConditions {
      background-color: transparent;
      font-size: 1.5rem;
      font-family: $font-main;
      text-decoration: none;
      color: $tertiary_colour;
    }
  }
}
