@use "../../styles/_variables" as *;

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  margin: 1.5rem 0 1rem 2rem;

  .byHaowl-logo {
    height: 4rem;
  }

  .byHaowl-title {
    font-family: $font-main;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0.5rem 0 0 0;
  }
}
