@use "../../styles/_variables" as *;

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 0rem;

  .byHaowl-logo {
    height: 3rem;
  }

  .byHaowl-title {
    font-family: $font-main;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0.5rem 0 0 0;
  }
}
.logoNav {
  text-decoration: none;
  color: $secondary-colour;
}
