@use "../../styles/_variables" as *;

.logo-container {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem 0rem;
  width: 100%;
  &__img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  .byHaowl-logo {
    height: 3rem;
  }
  .basket {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    border: none;
    padding-right: 2rem;
    .shopping-basket {
      height: 3rem;
    }
    .shopping-quantity {
      font-family: $font-text;
      font-weight: 600;
    }
  }
}
.logoNav {
  text-decoration: none;
  color: $secondary-colour;
}
